.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}

.appParagraph {
  color: rgb(100, 10, 185);
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.homeContainer h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 4rem;
}

.description {
  margin-top: -2rem;
  font-size: 1rem;
  line-height: 2.5rem;
}

.loginButtonContainer {
  width: 7rem;
}

.loginButtonContainer button{
  padding: 0.75rem;
}

.startedButtonContainer {
  width: 10rem;
}

.startedButton {
  background-color: blueviolet;
  border-radius: 0.25rem;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .homeContainer {
    margin: 6rem 0;
  }

  .homeContainer h1 {
    font-size: 4.25rem;
    line-height: 5.75rem;
  }

  .description {
    font-size: 1.25rem;
    margin-top: -3rem;
  }

  .loginButtonContainer {
    width: 8rem;
  }

  .startedButtonContainer {
    width: 10rem;
  }

  .startedButton {
    padding: 0.9rem;
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 1200px) {
  .homeContainer h1 {
    font-size: 5rem;
  }
}
