@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  font-family: "poppins", sans-serif;
}

button,
input::after {
  outline: none;
  box-shadow: none;
}

button,
input:focus {
  outline: none;
  box-shadow: none;
}
