.aside {
  background-color: white;
  position: fixed;
  top: 0%;
  transform: translateX(-110%);
  transition: transform 0.2s ease;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.asideContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5rem 0;
}

.aside[data-aside="open"] {
  transform: translateX(0%);
}

.asideLogo {
  width: 5rem;
}

.asideLogoContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.asideIconContainer {
  margin: 0 2rem;
}

.asideNav {
  margin-top: 1rem;
}

.asideList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
}

.asideList li {
  color: var(--color);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 -1rem;
  transition: 200ms;
}

li:hover {
  color: rgb(92, 92, 235);
}

.loginButtonContainer{
  width: 5rem;
}

.logoutButtonContainer{
  width: 6rem;
}

@media only screen and (min-width: 768px) {
  .aside {
    display: none;
  }
}
