:root {
  --color: rgb(98, 96, 96);
}

a {
  text-decoration: none;
}

header {
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 5rem;
}

/** navbar with logo ends here **/
.nav {
  display: none;
}

.list {
  align-items: center;
  display: inline-flex;
  gap: 4rem;
  list-style-type: none;
}

.list li {
  color: var(--color);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 200ms;
}

li:hover {
  color: rgb(92, 92, 235);
}

.loginButtonContainer {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.logoutButtonContainer {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.iconContainer {
  margin: 0 1rem;
}

@media only screen and (min-width: 768px) {
  article {
    margin: 0 2rem;
  }

  .logo {
    width: 5rem;
  }

  .nav {
    display: flex;
  }

  .iconContainer {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  article {
    margin: 0rem 9rem;
  }
}
